{% block body %}
<p>Timestamp: {{timestamp}}</p>
<table border="1">
    <th>
        <td>Value</td>
        <td>Units</td>
    </th>
    <tr>
        <td>Temperature1</td>
        <td>{{'%0.2f' | format(ctx.sensehat.tempH|float)}}</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Temperature2</td>
        <td>{{'%0.2f'| format(ctx.sensehat.tempP|float)}}</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>{{'%0.2f'| format(ctx.sensehat.humidity|float)}}</td>
        <td>%</td>
    </tr>
    <tr>
        <td>Pressure</td>
        <td>{{'%0.2f'| format(ctx.sensehat.atm_pressure|float)}}</td>
        <td>mbars</td>
    </tr>

    {% for k, v in ctx.tprobes.iteritems() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{'%0.2f' | format(v|float)}}</td>
            <td>C</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}