{% block body %}
<p>Timestamp: {{timestamp}}</p>
<table border="1">
    <th>
        <td>Value</td>
        <td>Units</td>
    </th>
    {% for sensehat in ctx.sensehat %}
    <tr>
        <td>Temperature1</td>
        <td>{{'%0.2f' | format(sensehat.tempH|float)}}</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Temperature2</td>
        <td>{{'%0.2f'| format(sensehat.tempP|float)}}</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>{{'%0.2f'| format(sensehat.humidity|float)}}</td>
        <td>%</td>
    </tr>
    <tr>
        <td>Pressure</td>
        <td>{{'%0.2f'| format(sensehat.atm_pressure|float)}}</td>
        <td>mbars</td>
    </tr>
    {% endfor %}

    {% for dev in ctx.tprobes %}
        <tr>
            <td>{{dev.name}}</td>
            <td>{{'%0.2f' | format(dev.temp|float)}}</td>
            <td>C</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}